<div class="container m-4">
    <div class="card text-center">
        <div class="card-body">
            <span class="h5">Registro de empleados</span>
        </div>

        <div class="container">
            <form [formGroup]="formEmployment" (ngSubmit)="createEmployment()">
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationServer01">Apellidos</label>
                        <input type="text" class="form-control" formControlName="lastName" placeholder="Last name">
                        <div *ngIf="submitted && formEmployment.invalid" class="badge text-danger">Campo Obligatorio</div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationServer02">Nombres</label>
                        <input type="text" class="form-control" formControlName="firstName" placeholder="First name">
                        <div *ngIf="submitted && formEmployment.invalid" class="badge text-danger">Campo Obligatorio</div>
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationServer03">Direccion</label>
                        <input type="text" class="form-control" formControlName="address" placeholder="Address">
                        <div *ngIf="submitted && formEmployment.invalid" class="badge text-danger">Campo Obligatorio</div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationServer04">Tel/Cel</label>
                        <input type="text" class="form-control" formControlName="phone" placeholder="Phone">
                        <div *ngIf="submitted && formEmployment.invalid" class="badge text-danger">Campo Obligatorio</div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationServer05">Fecha Nac.</label>
                        <input type="date" class="form-control" formControlName="birthDate">
                        <div *ngIf="submitted && formEmployment.invalid" class="badge text-danger">Campo Obligatorio</div>
                    </div>
                </div>
                    
                <div *ngIf="loading" class="spinner-border mt-3 text-secondary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                
                <div class="form-group text-right pr-2 mt-3">
                    <button routerLink="/list-employments" class="btn btn-light mr-3" type="text">Volver</button>
                    <button class="btn btn-dark" type="submit">Guardar</button>
                </div>
            </form>
        </div>
    </div>

</div>

